<!-- <app-angu></app-angu> -->

<!-- <h1>Events</h1>
<button (click)="getFunc('hello')">Click me</button>
<br /><br /><br />

<input type="text" #box (keyup)="getFunc(box.value)" placeholder="event keyup" />
<br /><br /><br />
<input type="text" #box1 (keydown)="getFunc(box1.value)" placeholder="event keydown" />

<br /><br /><br />
<input type="text" #box2 (blur)="getFunc(box2.value)" placeholder="event blurkey" />

<br /><br /><br />
<input type="text" #box3 (input)="getFunc(box3.value)" placeholder="event keyinput" />



<h1 (mouseover)="getFunc('over')">Mouse Over</h1>
<h1 (mouseleave)="getFunc('start')">Mouse Leave</h1> -->

<!-- topic12: Get input box value and Display  -->

<!-- <h1>{{title}}</h1>
<input type="text" #box  placeholder="Enter Name" name="name" />
<button (click)="getValue(box.value)">Click</button>

<p>
  My Name is :  {{displayVal}}
</p> -->

<!-- topic13: Counter example -->
<!-- <h1>{{title}}</h1>
<button (click)="counter('minus')">--</button>
<br /> <br />
<p>Count: {{count}}</p>
<button (click)="counter('add')">++</button> -->

<!-- topic14: -->
<!-- <h1 class="heading">{{title}}</h1> -->

<!-- topic15: -->
<!-- <h1>{{title}}</h1> -->
<!-- interpolation  -->
<!-- <input type="text" name="user-name" value={{name}} disabled={{disable}} > -->
<!-- //property binding -->
<!-- <input type="text" name="user-name" [value]="name" [disabled]=disable> -->

<!-- topic16:if else -->

<!-- <h1>{{title}}</h1>
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
<h1>If Condition</h1>
</ng-template>

<ng-template #elseBlock>
    <h1>Else Condition</h1>
</ng-template> -->

<!-- //multiple if else  -->


<!-- <ng-template [ngIf]="color==='green'">
    <h1 style="color: green;">Green Color</h1>
</ng-template>

<ng-template [ngIf]="color==='Red'">
    <h1 style="color: red;">Red Color</h1>
</ng-template>

<ng-template [ngIf]="color==='Blue'">
    <h1 style="color: blue;">Blue Color</h1>
</ng-template> -->

<!-- Switch Case -->
<!-- <div [ngSwitch]="color">
    <h1 *ngSwitchCase="'red'" style="color:red;">red Color</h1>
    <h1 *ngSwitchCase="'green'" style="color:green;">green Color</h1>
    <h1 *ngSwitchCase="'blue'" style="color:blue;">blue Color</h1>
    <h1 *ngSwitchCase="'yellow'" style="color:yellow;">yellow Color</h1>
    <h1 *ngSwitchDefault >Unknown Color</h1>

</div> -->

<!-- For loop  -->
<!-- <h3 *ngFor="let item of users">Name is:{{ item }}</h3>
<br />
<br />
<br />
<h3 *ngFor="let item of userDetails">
  {{ item.name }} {{ item.email }} {{ item.phone }}
</h3> -->

<!-- style binding  -->
<!-- <h1 [style.color]="color" [style.backgroundColor]="bgColor">{{title}}</h1>
<button (click)="changeColor()">Update Color </button> -->

<!-- <app-header></app-header> -->

<!-- <form>
    <input type="text" name="user" placeholder="Enter User Name">
    <br /><br />
    <input type="text" name="email" placeholder="Enter User Email">
    <br /><br />
    <input type="text" name="password" placeholder="Enter User Password">
    <br /><br />
    <button>Register</button>
</form> -->

<!-- ... -->
<!-- <app-child [item]="data"></app-child>
<button (click)="updataData()">Update Data</button> -->

<!-- .... -->
<!-- {{data}}
<app-child (updateDataEvent)="updataData($event)"></app-child> -->



<!-- ... -->
<!-- Two way binding -->

<!-- <input type="text" [(ngModel)]="name">

<h2>{{name}}</h2> -->

<!-- Template Reference Varaible  -->
<!-- <input type="text" name="user" placeholder="enter your name" #box>
<button (click)="getVal(box.value)">Call Function</button> -->

<!-- Pipes  -->
<!-- <h1>{{ title }}</h1> -->
 <!-- <h1>{{ title | uppercase}}</h1>
<h1>{{ title | lowercase}}</h1>
<h3>{{today | date}}</h3> -->
<!-- //slice pipe  -->
<!-- <h1>{{title | slice : 3 : 6 | lowercase}}</h1> -->
<!-- json slice  -->
<!-- <h3>{{user | json | uppercase}}</h3> -->
<!-- number pipe  -->
<!-- <h2>{{2.3 | number : '3.3-5'}}</h2> -->
<!-- currency pipe  -->
<!-- <h2>{{20 | currency:'USD'}}</h2> -->
<!-- titlecase -->
<!-- <h3>{{"hello how are you" | titlecase }}</h3> --> 

<!-- Custom pipes  -->
<!-- <h1>{{title}}</h1>
<h1>{{25 | usdpkr : 78}}</h1> -->


<!-- Template Driven Form  -->
 <h1>{{title}}</h1>
 <!-- <form #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.value)>
    <input type="text" name="name" placeholder="Enter Name" ngModel>
    <br> <br>
    <input type="password" name="password" placeholder="Enter password" ngModel>
    <br> <br>

    <button>Login</button>

 </form> -->

 <!-- validation  -->
 <!-- <form #loginForm="ngForm" (ngSubmit)=userLogin(loginForm.value)>
    <input type="text" required #name="ngModel" name="name" placeholder="Enter Name" ngModel>
    <br>
    <span *ngIf="name.invalid && name.touched" style="color:red;">please enter a valid input</span>
    <br>
    <input type="password" minlength=2 required #password="ngModel" name="password" placeholder="Enter password" ngModel>
    <br> 
    <span *ngIf="password.invalid && password.touched" style="color:red;">please enter a valid input</span>
    <br>

    <button [disabled]="loginForm.invalid">Login</button>

 </form> -->


 <!-- Reactive Forms  -->
 <!-- <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
    <input type="text" placeholder="Enter name" name="user" formControlName="user">
    <br>
    <span style="color: red;" *ngIf="user && user.invalid && user.touched"></span>
    <br>
    <input type="password" placeholder="Enter password" name="passowrd" formControlName="password">
<br> 
<span style="color: red;" *ngIf="password && password.invalid && password.touched"></span>
<br>
<button [disabled]="loginForm.invalid">login</button>
 </form> -->

 <!-- Directive custom  -->

<h1 appRedEl>{{title}}</h1>

<p appRedEl>Hello How Are You</p>


  <!-- ----                                                                                how to change the value of element using directive                                    -->

<!-- export class RedElementDirective { -->

  <!-- element!:ElementRef -->

  <!-- constructor(el:ElementRef) { -->
     <!-- el.nativeElement.style.color = "red" -->
     <!-- this.element = el;    -->
   <!-- } -->

   <!-- ngOnInit(){ -->
      <!-- this.element.nativeElement.innerText = "Hello World"  -->
   <!-- } -->

